## Day_003-1
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [6]:
data = {'country': ['Malaysia', 'Singapore', 'Taiwan', 'Japan', 'Australia', 'USA'],
        'city': ['KL', 'Singapore', 'Taipei', 'Tokyo', 'Sydney', 'SanFrancisco'],
        'population': np.random.randint(100000000,size=6)} #[139, 237, 326, 456]

In [7]:
demographic = pd.DataFrame(data)
print(demographic)

     country          city  population
0   Malaysia            KL    57083287
1  Singapore     Singapore    22559836
2     Taiwan        Taipei    21688335
3      Japan         Tokyo     1812589
4  Australia        Sydney    15482029
5        USA  SanFrancisco    38724833

In [8]:
print ('Sort by population (descending)')
m=demographic.sort_values(by='population', ascending=False)
m

Sort by population (descending)

     country          city  population
0   Malaysia            KL    57083287
5        USA  SanFrancisco    38724833
1  Singapore     Singapore    22559836
2     Taiwan        Taipei    21688335
4  Australia        Sydney    15482029
3      Japan         Tokyo     1812589

In [9]:
m.head(1)

    country city  population
0  Malaysia   KL    57083287

In [21]:
## Only display the maximum population number
# m=max(demographic.population)
# print(m)

In [23]:
## Display the maximum value in EACH column
# m=demographic.max()
# print('%s, %s, %s' % (m['population'], m['country'], m['city']))

In [25]:
## ERROR
# demographic.idxmax(axis=0, skipna=True)

In [29]:
## ERROR
# demographic.max(axis=0, skipna=True,level=None, numeric_only=None)